// This file was auto-generated by Fern from our API Definition.

package webhooks

import (
	context "context"
	fmt "fmt"
	livesessiongo "go.livesession.io/livesession-go"
	core "go.livesession.io/livesession-go/core"
	internal "go.livesession.io/livesession-go/internal"
	option "go.livesession.io/livesession-go/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// ---
// title: List webhooks
// group: [ENDPOINTS]
// ---
//
// List of all webhooks
func (c *Client) List(
	ctx context.Context,
	opts ...option.RequestOption,
) ([]*livesessiongo.Webhook, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := baseURL + "/webhooks"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response []*livesessiongo.Webhook
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// ---
// title: Create webhook
// group: [ENDPOINTS]
// ---
//
// Create a webhook
func (c *Client) Create(
	ctx context.Context,
	request *livesessiongo.WebhookCreate,
	opts ...option.RequestOption,
) (*livesessiongo.Webhook, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := baseURL + "/webhooks"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *livesessiongo.Webhook
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// ---
// title: Update webhook
// group: [ENDPOINTS]
// ---
//
// Update a webhook
func (c *Client) Update(
	ctx context.Context,
	// ID of the webhook to update
	id string,
	request *livesessiongo.WebhookUpdate,
	opts ...option.RequestOption,
) (*livesessiongo.Webhook, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/webhooks/%v",
		id,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	queryParams.Add("version", fmt.Sprintf("%v", "v1.0"))
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &livesessiongo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *livesessiongo.Webhook
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPut,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// ---
// title: Delete webhook
// group: [ENDPOINTS]
// ---
//
// Delete a webhook
func (c *Client) Delete(
	ctx context.Context,
	// ID of the webhook to delete
	id string,
	opts ...option.RequestOption,
) (*livesessiongo.WebhookDeleted, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/webhooks/%v",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &livesessiongo.NotFoundError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *livesessiongo.WebhookDeleted
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
