// This file was auto-generated by Fern from our API Definition.

package alerts

import (
	context "context"
	livesessiongo "go.livesession.io/livesession-go"
	core "go.livesession.io/livesession-go/core"
	internal "go.livesession.io/livesession-go/internal"
	option "go.livesession.io/livesession-go/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// ---
// title: List alerts
// group: [ENDPOINTS]
// ---
//
// List of all alerts
func (c *Client) List(
	ctx context.Context,
	opts ...option.RequestOption,
) ([]*livesessiongo.Alert, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := baseURL + "/alerts"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response []*livesessiongo.Alert
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// ---
// title: Create alert
// group: [ENDPOINTS]
// ---
//
// Create alert
func (c *Client) Create(
	ctx context.Context,
	request *livesessiongo.AlertCreate,
	opts ...option.RequestOption,
) (*livesessiongo.Alert, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := baseURL + "/alerts"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *livesessiongo.Alert
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// ---
// title: Update alert
// group: [ENDPOINTS]
// ---
//
// Update alert by ID
func (c *Client) Update(
	ctx context.Context,
	// Unique identifier of the alert to update
	id string,
	request *livesessiongo.AlertUpdate,
	opts ...option.RequestOption,
) (*livesessiongo.Alert, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/alerts/%v",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *livesessiongo.Alert
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPut,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// ---
// title: Delete alert
// group: [ENDPOINTS]
// ---
//
// Delete alert by ID
func (c *Client) Delete(
	ctx context.Context,
	// Unique identifier of the alert to delete
	id string,
	opts ...option.RequestOption,
) (*livesessiongo.AlertsDeleteResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.livesession.io/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/alerts/%v",
		id,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &livesessiongo.BadRequestError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &livesessiongo.InternalServerError{
				APIError: apiError,
			}
		},
	}

	var response *livesessiongo.AlertsDeleteResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
